#bg1 {
    background: url('./bg1.png') rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.3px;
}


.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    align-items: center;
    border: 0.5px solid rgb(235, 204, 28);
    margin: auto;
    margin-top: 70px;
    margin-bottom: 80px;
    background-color: wheat;
    border-radius: 15px;
}

.form img{
    width: 100px;
    height: 75px;
    margin-top: -35px;
    border: 0.5px solid rgb(235, 204, 28);
    border-radius: 100%;
}

.form h1 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 10px;
    color: rgb(237, 210, 56);
}

.box {
    padding: 7px;
    margin: 10px;
    width: 65%;
    margin-left: 20px;
    border-radius: 10px;
}

.submit {
    margin-top: 10px;
    background-color: rgb(235, 204, 28);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 25px;
}

.login_again {
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bold; */
    color: rgb(66, 64, 58);
    margin-bottom: 5px;
    margin-top: 5px;
}

.submit:hover {
    cursor: pointer;
}

/* .icons {
    margin-bottom: 20px;
} */
