.bg-pri {
    background-color: rgba(0, 0, 0, 0.7);
}

.dmac {
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1%;
}

.cardd {
    width: 60vh;
    justify-content: center;
    height: 400px;
    margin-top: -50px;
}

.carousel {
    background: rgba(220, 220, 209, 0.7);
    position: relative;
    left: 50%;
    right: 50%;
    height: 550px;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100%;
}
